name: build-json

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write

jobs:
  build-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Update senators JSON
        run: node ./scripts/updateSenators.js

      - name: Commit and push changes
        run: |
          git config --global user.name "sniders84"
          git config --global user.email "sniders84@users.noreply.github.com"
          git add public/senators-rankings.json
          git commit -m "Update senators-rankings.json" || echo "No changes to commit"
          git push origin main
